trigger: none
parameters:
  - name: env
    displayName: Environment
    type: string
    default: dev
    values:
      - dev
      - qa
pool: infraprojectpool
stages:
  - stage: initvalidateplan
    displayName: Terraform init validate plan
    jobs:
      - job: initplan
        displayName: Terraform init plan
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          displayName: Terraforminit
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
            backendServiceArm: 'infraprojectsc'
            backendAzureRmStorageAccountName: 'souravsginfrapro'
            backendAzureRmContainerName: 'souravcontainfrapro'
            backendAzureRmKey: 'dev.terraform.tfstate'

        - task: TerraformTask@5
          displayName: Terraformvalidate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'

        - task: TerraformTask@5
          displayName: Terraformplan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
            environmentServiceNameAzureRM: 'infraprojectsc'
            
  - stage: securityScan
    displayName: Security Scan
    jobs:
      - job: tfsec
        displayName: tfsec
        steps:
        - task: tfsec@1
          displayName: tfsec
          inputs:
            version: 'v1.26.0'
            publishTestResults: false
            dir: '$(System.DefaultWorkingDirectory)'

      - job: tflint
        displayName: tflint
        steps:
        - task: CmdLine@2
          continueOnError: true
          displayName: tflint
          inputs:
            script: 'tflint --recursive /f junit > tflint-out.xml'
            workingDirectory: '$(System.DefaultWorkingDirectory)'

        - task: PublishTestResults@2
          displayName: tflint result publish
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: 'tflint-out.xml'
            testRunTitle: 'tflint'

  - stage: approvalAndApply
    displayName: Approval and Apply
    jobs:
      - job: approval
        pool: server
        displayName: approval
        steps:
        - task: ManualValidation@1
          displayName: Approval
          inputs:
            notifyUsers: 'kuila.sourav1999@gmail.com'
            approvers: 'kuila.sourav1999@gmail.com'
  #       - task: PowerShell@2
  #         inputs:
  #           targetType: 'inline'
  #           script: |
  #             cd $(System.DefaultWorkingDirectory)
  #             infracost configure set api key ico-RDPlxzyPFP1pDz5hCEFFCViMAtq2bK3X

